---
title: "Offre de formations logiciels libres"
description: "Liste d'organismes proposant des formations logiciels libres"
layout: layouts/page.njk
eleventyNavigation:
  key: "Formations logiciels libres"
  parent: Ressources
  order: 5
---

{% from "components/component.njk" import component with context %}
{{ component("callout", {
  title: "Formations logiciels libres",
  description: 'Vous pouvez <a class="fr-link fr-text--lead" href="https://github.com/codegouvfr/codegouvfr-data/blob/main/formations-logiciels-libres.yml">ajouter votre organisme</a> ou nous <a class="fr-link fr-text--lead" href="mailto:contact@code.gouv.fr">solliciter pour être référencés</a>.' | safe
}) }}
<div class="fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    {% asyncAll formation in formations %}
    <div class="fr-col-12 fr-col-md-3">
      {{ component("card_formation", {
	externalUrl: formation.site_web,
        title: formation.organisme,
	description: formation.description,
	formations: formation.formations,
	email: formation.courriel
      }) }}
    </div>
    {% endall %}
  </div>
</div>
