---
title: Mobiliser via les initiatives BlueHats 🧢
layout: layouts/home.njk
eleventyNavigation:
  key: À propos
  parent: BlueHats 🧢
  order: 1
---
<div class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-6">
        <h1><code>BlueHats</code>, c'est qui ?</h1>
        <p class="fr-text--lg">
	  Le mouvement <code>BlueHats</code> rassemble les <strong>agents publics libristes</strong>.
	</p>
        <p class="fr-text--lg">
	  L'initiative est née en 2018 sous l'impulsion de la DINSIC, mais BlueHats n'est pas 
	  un produit ou une marque de la DINUM, c'est un mouvement auquel elle contribue.
	</p>
        <p class="fr-text--lg">
	  Tous les agents publics intéressés par les logiciels libres — pour en créer, y contribuer ou tout simplement les utiliser — peuvent devenir BlueHats à tout moment, en participant à <a href="/fr/contact/espaces-communication-bluehats/">nos espaces d'échange</a>, à nos <a href="/fr/bluehats/tags/atelier/">ateliers en ligne</a> et <a href="/fr/bluehats/tags/rencontre/">nos rencontres en présentiel</a>.
	</p>
        <p class="fr-text--lg">
	  Notez aussi que le mouvement BlueHats s'étend <a target="new" href="https://bluehats.global">au-delà de nos frontières</a> !
        </p>
      </div>
      <div class="fr-hidden fr-unhidden-md fr-col-md-4">
        <img src="/icons/bluehats-logo-single.svg" alt="BlueHats logo" class="fr-responsive-img">
      </div>
    </div>
  </div>
</div>
<div class="fr-py-6w fr-background-alt--grey">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <h1 class="text-center"><code>BlueHats</code>, c'est quoi ?</h1>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
      {% for tile in initiatives %}
        <div class="fr-col-12 fr-col-md-6">
          {% include "components/tile.njk" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="fr-container fr-my-6w fr-pb-6v">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-10">
      <h2 class="fr-h3">Comment participer ?</h2>
      {% include "components/accordionsgroup.njk" %}
    </div>
  </div>
</div>
