---
title: La mission logiciels libres vous accompagne dans votre stratégie logiciels libres
layout: layouts/page.njk
eleventyNavigation:
  key: Documentation
  order: 3
permalink: /fr/doc/
---
<div class="fr-mb-6w">
  <h2>Documentation généraliste</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% for tile in main %}
      <div class="fr-col-12 fr-col-md-4">
        {% include "components/tile.njk" %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="fr-mb-6w">
  <h2>Guides interactifs</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% for tile in guides %}
      <div class="fr-col-12 fr-col-md-4">
        {% include "components/tile.njk" %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="fr-my-6w">
  <h2>Autres ressources</h2>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% for tile in docs %}
      <div class="fr-col-12 fr-col-md-3">
        {% include "components/tile.njk" %}
      </div>
    {% endfor %}
  </div>
</div>
