{% if not card %}{% set card = params %}{% endif %}
<div class="fr-card{% if not card.externalUrl %} fr-enlarge-link{% endif %} {{ card.addClass }}">
  <div class="fr-card__body">
    <div class="fr-card__content">
      <h3 class="fr-card__title">
        <a href="{{ card.externalUrl }}">
          {{ card.title }}
        </a>
      </h3>
      <p class="fr-card__desc">{{ card.description }}</p>
      <div class="fr-card__start">
	<p><a href="mailto:{{ card.email }}">Contact</a></p>
      </div>
      <div class="fr-card__end">
	<h6>Formations</h6>
	<ul>
	  {% for f in card.formations %}
	    {% if loop.index0 < 3 %}
	      <li>{{ f }}</li>
	    {% endif %}
	  {% endfor %}
	  <li>...</li>
	</ul>
        <p class="fr-card__detail">{{ card.detailEnd }}</p>
      </div>
    </div>
  </div>
  {% if card.badges or card.image %}
    <div class="fr-card__header">
      {% if card.badges %}
        <ul class="fr-badges-group">
          {% for badge in card.badges %}
            <li><p class="fr-badge fr-badge--green-emeraude">{{ badge }}</p></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if card.image %}
        {% if card.image.path %}
          <div class="fr-card__img">{% imageSync card.image.path, card.image.alt %}</div>
          {% elif card.image.src %}
          <div class="fr-card__img">
            <img class="fr-responsive-img fr-responsive-img--1x1" src="{{ card.image.src }}" alt="{{ card.image.alt }}">
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>
