---
title: Recourir et contribuer aux communs numériques
layout: layouts/page.njk
eleventyNavigation:
  key: Communs numériques
  parent: Ressources
  order: 7
---
<div class="fr-highlight fr-highlight--blue-cumulus">
  <p class="fr-text--lg">
    Cette page vise à valoriser les démarches de communs numériques engagées par les administrations. Elle référence
    aussi des communs numériques libres et collaboratifs auxquels le secteur public contribue déjà. Les références
    proposées sur cette page sont appelées à évoluer au fil du temps.
  </p>
</div>
{% from "components/component.njk" import component with context %}
<div class="fr-my-6w">
  <h2>Des communs numériques déjà utilisés dans le secteur public</h2>
  <p class="fr-text--lead">
    On ne présente plus les projets Wikimédia, OpenStreetMap ou Open Food Facts. Ces communs numériques libres et
    collaboratifs font déjà l'objet de contributions de la part de l'administration et nous vous encourageons à y
    contribuer.</p>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% asyncAll communNumerique in communsNumeriques %}
    <div class="fr-col-12 fr-col-md-4">
      {{ component("card", {
        url: false,
        externalUrl: communNumerique.url,
        title: communNumerique.title,
        description: communNumerique.description | safe
      }) }}
    </div>
    {% endall %}
  </div>
</div>
<div class="fr-my-6w">
  <h2>Des démarches de mise en commun initiées par l'administration</h2>
  <p class="fr-text--lead">
    Ces produits de l'administration publient des ressources sous licence libre et sont ouverts à la collaboration :
    nous vous invitons à les découvrir et à y contribuer.
  </p>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    {% asyncAll communNumerique in admCommunsNumeriques %}
    <div class="fr-col-12 fr-col-md-6">
      {{ component("card", {
        url: false,
        externalUrl: communNumerique.url,
        title: communNumerique.title,
        description: communNumerique.description | safe,
        image: {
          path: communNumerique.imagePath,
          alt: communNumerique.title
        }
      }) }}
    </div>
    {% endall %}
  </div>
</div>

<h2 id="éléments-sur-les-communs">Éléments sur les communs</h2>
<h3 id="sur-les-communs-numériques">Sur les communs numériques</h3>
<ul>
  <li>Synthèse <a href="https://numerique-en-communs.fr/wp-content/uploads/2020/12/synthese-communs.pdf">PDF</a> « Le commun numérique et sa ressource » proposée par la <a href="https://societenumerique.gouv.fr/">mission Société Numérique</a>,janvier 2022.</li>
  <li><a href="https://contrib.eduscol.education.fr/numerique/dossier/competences/communs-information-connaissance/@@document_whole">Les communs de l’information, de la connaissance et du numérique</a>, contrib.eduscol.education.fr, 2015</li>
</ul>

</br>

<h3 id="sur-les-communs-en-général">Sur les communs en général</h3>
<ul>
  <li><a href="http://www.cooperations.infini.fr/spip.php?article9496">Repères pour participer aux communs</a>, cooperations.infini.fr, 2018</li>
  <li><a href="https://balises.bpi.fr/pour-en-savoir-plus-sur-les-biens-communs">Pour en savoir plus sur les (biens) communs</a>, balises.bpi.fr, 2014</li>
  <li><a href="https://wiki.p2pfoundation.net/What_You_Should_Read_To_Understand_the_Commons">What You Should Read To Understand the Commons</a>, wiki.p2pfoundation.net</li>
  <li><a href="https://www.bm-lyon.fr/nos-blogs/democratie/decouvrir-444/article/les-communs">Dossier sur les communs de la bibliothèque municipale de Lyon</a></li>
  <li><a href="https://iasc-commons.org/key-publications/">Revue de littérature à l’international</a> par l’<em>International Association for the Studies of the Commons</em></li>
  <li><a href="https://www.colloque-tv.com/colloques/vers-une-republique-des-biens-communs">Vers une République des biens communs ?</a>, Centre Culturel International de Cerisy, 2016.</li>
</ul>

<br/>
<!--
     <h3 id="rex-accelerateur-initiatives-citoyennes">Retours d'expérience sur l'accélérateur d'initiatives citoyennes</h3>

     <ul>
     <li><a href="https://code.gouv.fr/docs/Enseignements_AIC.pdf">Enseignements du programme AIC</a></li>
     <li><a href="https://code.gouv.fr/docs/REX-Programme_AIC.pdf">REX sur le programme AIC</a></li>
     <li><a href="https://code.gouv.fr/docs/uMap_AIC.pdf">uMap (pdf)</a></li>
     <li><a href="https://code.gouv.fr/docs/PrimTux_AIC.pdf">PrimTux (pdf)</a></li>
     <li><a href="https://code.gouv.fr/docs/Pyronear_AIC.pdf">Pyronear (pdf)</a></li>
     <li><a href="https://code.gouv.fr/docs/OpenFoodFacts_AIC.pdf">OpenFoodFacts (pdf)</a></li>
     </ul>

     <br/>
-->
{{ component("callout", {
  title: "Vous souhaitez proposer d'autres communs numériques d'intérêt général ?",
  link: {
    url: "/contact/" | locale_url,
    title: "N'hésitez pas à nous contacter !"
  }
}) }}
