---
title: "Équipes et entités dédiées aux logiciels libres dans les organismes publics"
description: La liste des Open Source Programme Offices au sein d'organismes publics.
layout: layouts/page.njk
eleventyNavigation:
  key: "Open Source Programme Offices"
  parent: Ressources
  order: 4
---

{% from "components/component.njk" import component with context %}
{{ component("callout", {
  title: "Qu'est-ce qu'un Open Source Programme Office ?",
  description: 'Notre documentation explique <a class="fr-link fr-text--lead" href="https://code.gouv.fr/documentation/#monter-un-open-source-programme-office">pourquoi et comment monter un OSPO</a>.<br/>Les membres de ces OSPOs échangent sur <a class="fr-link fr-text--lead" href="https://groupes.renater.fr/sympa/info/ospo-fr">la liste de discussion OSPO-fr privée</a>.<br/>N\'hésitez pas à nous <a class="fr-link fr-text--lead" href="mailto:contact@code.gouv.fr">solliciter pour être référencés</a>.' | safe
}) }}
<div class="fr-my-6w">
  <div class="fr-grid-row fr-grid-row--gutters">
    {% asyncAll ospo in ospos %}
    <div class="fr-col-12 fr-col-md-3">
      {{ component("card_ospo", {
	url: false,
	date: ospo.created,
        externalUrl: ospo.url,
        title: ospo.name,
	description: ospo.description,
	email: ospo.email,
	pso_id: ospo.pso_id
      }) }}
    </div>
    {% endall %}
  </div>
</div>
